body{background-color:#EFF0F4;}
.header{height: 5rem;
      background-color:#5fc0cd; }
 .h-left{position:absolute;
        left:5%;top:35px;
        color: white;}
 .h-middle{position:absolute;
        top:35px;left:47%;
        color: white;}
 .h-right{position:absolute;
        right:5%;top:35px;
        color: white;}
.phone{padding: 15px 0px;
background-color: white;}
.img-phone{vertical-align:middle;}
.lock{margin-top:2%;
padding: 15px 0px;
 background-color: white;}
.img-lock{vertical-align: middle;}
input{border: none;outline: none; border-left: 2px;}
.sign-in{height: 3.5rem;background-color:#5fc0cd; }
.sign{text-align: center;
  color: white;font-size= 1.5rem;}
.forget{float:right;
  color:#5fc0cd;
text-decoration:underline;}
