* {margin: 0;padding: 0;}
html, body {
  height: 100%; /*让页面撑满窗口*/
}

.header{height: 4rem; width=100%;
      background-color:#5fc0cd;}
.arrow{position: absolute; top:20px;}
.h-middle{position:absolute;top: 20px;left: 48%;
          color: white;font-size:1.2rem;}
.profile{height:10rem; wdith:100%;position: relative;}
.b-ground{height: 10rem; width: 100%;
          position:absolute;left:0px;
          top:0px;z-index:-1;}
.touxiang{}
.p-name{position: absolute; top: 35%;left: 60%;}
.address{position: absolute; top: 60%;left: 62%;}
.location{position: absolute; top: 60%;left: 60%;}
.m1{margin: 0;padding: 2%;
    border: 1px solid #E1E5E7;}
.skill{border-left: 5px solid #5fc0cd;}
.detail{color: #999999;}
.sub{border-left: 1px solid #999999;}
.sub1{border-left: 1px solid #999999;
    color:red;}

button{height: 100%;}
.message{background-color: #FFFFFF;border: 3px solid #BAE1E7;
        color:#BAE1E7;text-align: center;width:40%; position: relative; top: %;left: 5%;
        border-radius: 8%;font-size:1.2rem;}
.phone{background-color: #5FC0CD;
      border: 3px solid #5FC0CD;position: relative; top: %;left: 12%;
      color:white;text-align: center;width: 40%;
      border-radius: 8%;font-size:1.2rem;}


.container{
    display: flex;
    flex-direction: column;
    height: 100%;overflow: hidden;
}
.header{
    flex: 0 0 auto;
}
.main{
    overflow: auto;
    flex: 1;}
.footer{
    height: 40px;
    background: white;
    flex: 0 0 auto;
    }

